gradio==4.44.1
gradio_client==1.8.0
huggingface_hub==0.25.2
groq==0.11.0
httpx==0.27.2
pydantic==2.10.6
fastapi==0.115.6
starlette==0.41.3
PyMuPDF==1.24.2
gtts==2.5.3
python-dotenv==1.0.1
reportlab==4.2.2
pillow==10.4.0
SpeechRecognition==3.10.4
scikit-learn==1.5.0
numpy
pandas